*,
*::before,
*::after {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    max-width: 5%;
    height: auto;
}

.menu {
    display: flex;
    gap: 1.4rem;
}

ul {
    list-style-type: none;
}

.section-one {
    background-color: #1f2937;
    color: #f9faf8;
}

.content-one {
    display: flex;
    justify-content: center;
    padding: 1.4rem;
}

.section-one-left,
.section-one-right {
    flex: 1;
}

.section-one-right img {
    width: 50%;
    
}

